.wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.box {
  width: 900px;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #555;
}

#tab-demo {
  width: 100%;
}
#tab-demo > ul {
  margin: 0;
  list-style: none;
}
.tab-title {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
  position: relative;
  z-index: 1;
}
#tab-demo > ul > li:first-child {
  margin-left: 0;
}
#tab-demo > ul > li.active {
  border-bottom: 1px solid #fff;
  background: #fff;
}

#tab-demo > ul > li {
  display: inline-block;
  vertical-align: top;
  font-family: "微軟正黑體";
  border: 1px solid #64806a;
  height: 50px;
  line-height: 50px;
  background: #64806a;
  padding: 0 15px;
  list-style: none;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  margin: auto;
  width: 33.33%;
  margin-left: 3px;
}
#tab-demo > ul > li a {
  color: #fff;
  text-decoration: none;
}
#tab-demo > ul > li.active {
  border-bottom: 1px solid #fff;
  background: #fff;
}
#tab-demo > ul > li.active a {
  color: #555;
}

#tab-demo > .tab-inner {
  color: #555;
  border: 1px #64806a solid;
  border-radius: 0 0 5px 5px;
  position: relative;
  top: -1px;
}
.tab-inner {
  padding: 15px;
  background-color: #fff;
}
.btn-delete {
  margin-top: 31px;
}

@media screen and (max-width: 767px) {
  .wrap {
    padding: 0;
  }
  .box {
    margin: 30px 20px;
    padding: 5px 5px 25px;
  }
  .form-pc {
    display: none;
  }
  h2 {
    margin: auto;
    text-align: center;
    color: #4ba0b5;
    font-size: 30px;
    margin: 20px 0;
  }
}

@media screen and (min-width: 768px) {
  .form-phone {
    display: none;
  }
}
// show 頁面電腦版
@media screen and (min-width: 768px) {
  .phone-show_table{
    display: none;
  }
}
// show 頁面手機版
@media screen and (max-width: 767px) {
  .show-container {
    width: 300px;
  }
  .pc-show_table{
    display: none;
  }
  .phone-show_table li{
    padding: 0.2rem;
  }
}

input.form-control-file {
  display: none;
}

.notice-space {
  text-align: center;
}
.public-description {
  margin-bottom: 0;
}
