#tab-demo {
  width: 80%;
}
#tab-demo > ul {
  margin: 0;
  list-style: none;
}
.tab-title {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
}
#tab-demo > ul > li {
  display: inline-block;
  vertical-align: top;
  font-family: "微軟正黑體";
  border: 1px solid #64806a;
  height: 50px;
  line-height: 50px;
  background: #64806a;
  padding: 0 15px;
  list-style: none;
  box-sizing: border-box;
  border-radius: 5px;
  margin: auto;
  width: 33.33%;
}
#tab-demo > ul > li a {
  color: #fff;
  text-decoration: none;
}
#tab-demo > ul > li.active {
  border-bottom: 1px solid #fff;
  background: #fff;
}
#tab-demo > ul > li.active a {
  color: #555;
}

#tab-demo > .tab-inner {
  color: #555;
  border: 1px #64806a solid;
  border-radius: 5px;
}
.tab-inner {
  padding: 15px;
  background-color: #fff;
}


