<footer class="sticky-footer text-dark">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; GoodBuy 2019</span>
    </div>
  </div>
</footer>