<div class="nested-fields row">
  <div class="col-5">
    <%= f.input :name, label: "項目", placeholder: "加珍珠" %>
  </div>
  <div class="col-5">
    <%= f.input :price, label: "價格", placeholder: "10" %>
  </div>
  <div class="col-2">
    <%= link_to_remove_association "X", f , class: "btn btn-delete"%>
  </div>
</div>