<div class = "box text-center p-5">
  <h1 class='title mb-5'>你的團購連結</h1>
  <h2 class="link-h2 mb-4">QR Code</h2>

  <div class="row justify-content-center">
    <div id="qrcode" data-link= "<%= @link %>"  ></div>
  </div>
  
   <div class="row justify-content-center m-5">
    <h2 class="link-h2">網址</h2>
    <%= link_to @link, buy_group_path, class: "url_for_buy", id:'group-link' %>  
  </div>
  
  
  
  <%= link_to "回到我的團購", my_groups_path, class:"btn btn-back m-3" %> 
</div>


<script type="text/javascript">
var link = $("#qrcode").data('link')
new QRCode(document.getElementById("qrcode"), link);
</script>