<div class = "container bg-white mt-5 rounded text-center">
  <h1>連結頁面</h1>
  
  <h2 class = "m-4">QR Code</h2>
  <div class = "row justify-content-center">
    <div id="qrcode" data-link= "<%= @link %>"  ></div>
  </div>
  
  
  <h2 class = "m-4">網址</h2>
  <%= link_to @link, buy_group_path, class: "url_for_buy" %>
  
  <br>
  
  <%= link_to "回到我的團購", my_groups_path, class:"btn btn-success m-3" %> 
</div>

<script type="text/javascript">
var link = $("#qrcode").data('link')
new QRCode(document.getElementById("qrcode"), link);
</script>