
<div id="tab-demo">
    <ul class="tab-title">
        <li><a href="#tab01">tab01</a></li>
        <li><a href="#tab02">tab02</a></li>
        <li><a href="#tab03">tab03</a></li>
    </ul>
    <div id="tab01" class="tab-inner">
        <p>tab01的內容</p>
    </div>
    <div id="tab02" class="tab-inner">
        <p>tab02的內容</p>
    </div>
    <div id="tab03" class="tab-inner">
        <p>tab03的內容</p>
    </div>
</div>