<ul class="change_language">
  <li><%= link_to '繁體中文', class: "pc-sidebar-language", :locale => "zh-TW" %></li>
  <li><%= link_to 'English', class: "pc-sidebar-language", :locale => "en" %></li>
  <li><%= link_to '日本語', class: "pc-sidebar-language", :locale => "jp" %></li>
</ul>