  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <div class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon d-flex align-items-center justify-content-center">
          <div class="sidebar-brand-text mx-3">Good Buy</div>
        </div>
      </div>
        
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Heading -->
      <div class="sidebar-heading">
        團購紀錄
      </div>

      <!-- Nav Item - Pages Collapse Menu -->

      <li class="nav-item active">
        <%= link_to my_groups_path, class: "nav-link" do %>
          <span>我的團購</span>
        <% end %>
      </li>

      <li class="nav-item active">
        <%= link_to attend_groups_path, class: "nav-link" do %>
          <span>跟團紀錄</span>
        <% end %>
      </li>



      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        開團囉！
      </div>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <%= link_to public_groups_path, class: "nav-link" do %>
          <span>既有團</span>
        <% end %>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item active">
        <a class="nav-link" href="tables.html">
          <span>新增團購</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Heading -->
      <div class="sidebar-heading">
        其他
      </div>

      <!-- Nav Item - Charts -->

      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <span>個人資訊</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item active">
        <a class="nav-link" href="tables.html">
          <span>登出</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

    </ul>
    <!-- End of Sidebar -->