body {
  background-image: image-url("background.jpg");
  background-size: 100% auto;
}
.card-img-left {
  display: flex;
  justify-content: center;
}
.default-pic {
  width: 100%;
  margin: auto;
  margin-left: 10px;
}
.text-wrap .badge {
  font-size: 100%;
  margin-bottom: 10px;
}

// wrapper部分
@media screen and (min-width: 768px) {
  #wrapper {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  #wrapper {
    display: block;
  }
}
// mac navbar部分
.pc-sidebar-link:hover > span {
  color: #feb14a;
}
.change_language li {
  list-style: none;
}
.pc-sidebar-language:hover {
  color: #feb14a;
}

@media screen and (min-width: 768px) {
  .mac.sidebar {
    display: flex;
  }
  .row {
    width: 100%;
  }

  .card {
    box-sizing: border-box;
    margin: 4px;
    width: 49%;
    box-shadow: 5px 5px 5px #888;
  }
  .time span {
    font-size: 16px;
    vertical-align: middle;
  }
  .fa {
    font-size: 20px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 767px) {
  .mac {
    display: none !important;
  }
  .default-pic {
    width: 150px;
  }
}

// phone navbar 部分
.dropdown-toggle:hover {
  color: #ffffff;
}
.nav-pills .show > .nav-link {
  background-color: #feb14a;
}

@media screen and (min-width: 768px) {
  .phone {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .phone {
    background-color: rgba(32, 55, 28, 0.8);
  }
  .phone_sidebar-logo {
    max-width: 40px;
  }
  .phone_sidebar-logo img {
    width: 100%;
    border-radius: 50%;
  }
}
.change_language {
  margin: 50px 0 30px;
  padding: 0;
  text-align: center;
}
.change_language li a {
  list-style: none;
  padding: 5px;
  color: #ebd8c5;
  text-decoration: none;
}

// 標題
@media screen and (max-width: 767px) {
  h1 {
    text-align: center;
  }
}

// mac table部分
@media screen and (max-width: 767px) {
  .card.shadow.mb-4 {
    display: none;
  }
}

// phone card 部分

.phone-card {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .phone-card {
    display: none;
  }
}

.card.mt-3 {
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .card.shadow.mb-4 {
    display: none;
  }
}

.url_for_buy {
  font-size: 16px;
  color: #5672d8;
}

.title {
  color: #555;
  font-size: 36px;
}

@media screen and (max-width: 768px) {
  .modal.show .modal-dialog {
    margin: 3rem;
  }
  .qrcodebox img {
    width: 200px;
  }
  .title {
    font-size: 30px;
  }
  .url_for_buy {
    font-size: 14px;
  }
}
