* {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #555;
}
a {
  color: #555;
}

.menu-pic {
  max-width: 100%;
}

#tab-demo {
  width: 100%;
}
#tab-demo > ul {
  margin: 0;
  list-style: none;
}
.tab-title {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
}
#tab-demo > ul > li {
  display: inline-block;
  vertical-align: top;
  font-family: "微軟正黑體";
  border: 1px solid #64806a;
  height: 50px;
  line-height: 50px;
  background: #64806a;
  padding: 0 15px;
  list-style: none;
  box-sizing: border-box;
  margin: auto;
  width: 33.33%;
  border-radius: 5px;
}
#tab-demo > ul > li a {
  text-decoration: none;
}
#tab-demo > ul > li.active a {
  color: #555;
}

#tab-demo > ul > li.active {
  background: #fff;
}
#tab-demo > .tab-inner {
  border: 1px #64806a solid;
  border-radius: 5px;
}
.tab-inner {
  padding: 15px;
  background-color: #fff;
}

.btn-buy,
.btn-pay {
  background-color: #bf4a3b;
  color: #fff;
}

.btn-buy:hover {
  background-color: #a53323;
  color: #fff;
}
.btn-pay:hover {
  background-color: #a53323;
  color: #fff;
}

.btn-delete {
  background-color: #658264;
  color: #fff;
}

.btn-delete:hover {
  background-color: #4a6149;
  color: #fff;
}
.order-item {
  margin-bottom: 10px;
}
