<div class="container bg-white text-center mt-5 p-5 rounded">
  <div class="text-center text-dark">
    <h1>感謝使用 GoodBuy ，您將在交易成功後收到郵件通知</h1>
  </div>
  
  <%= link_to "回到首頁", my_groups_path, class:'btn btn-lg btn-dark mt-5' %>
</div>