body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: image-url("background.jpg");
  background-size: 100%;
}
.box {
  width: 300px;
  background-color: #fff;
  margin: 50px;
  width: 400px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #999;
}

.signinh2 {
  color: #4ba0b5;
}

input {
  background-color: #64806a;
}

a {
  color: #5d4037;
  display: block;
  margin: 5px;
}
